:is(a, button, input, textarea, summary) {
    --outline-size: max(2px, 0.08em);
    --outline-style: solid;
    --outline-color: red;
}

:is(a, button, input, textarea, summary):focus-visible {
    outline:
      var(--outline-size)
      var(--outline-style)
      var(--outline-color);
    outline-offset: var(--outline-offset, var(--outline-size));
}

.new-link-color {
    color: #00828f;
}


img:focus,
.icon:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    background-color: #E0F7FA;
}


button:focus,
input:focus,
a:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); 
    background-color: #E0F7FA; 
}